<a href="https://colab.research.google.com/github/Wulannur/lagi/blob/main/Tugas1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
wn = pd.read_csv("creditcard.csv")

In [2]:
wn.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [3]:
wn.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [4]:
wn['Amount'].value_counts()

1.00     583
0.01     136
5.00     133
1.98     126
0.89     119
        ...
22.89      1
16.95      1
3.62       1
1.70       1
11.65      1
Name: Amount, Length: 3349, dtype: int64

In [5]:
from sklearn.preprocessing import  StandardScaler
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
x  = wn .apply(le.fit_transform)
x

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,1425,2439,7474,6397,2974,5756,4891,4674,3218,...,5229,5987,2878,3792,4045,3099,5821,1896,2688,0
1,0,6432,3656,1457,4363,4642,4158,3518,4545,1584,...,2609,1703,6038,1963,4382,5027,3499,3600,123,0
2,1,1426,418,6291,4234,2330,7047,6776,5660,192,...,7096,7360,7674,1034,1151,3314,2105,1493,3142,0
3,1,2158,2103,6343,1669,4352,6783,4880,6206,235,...,4196,4809,1832,373,7244,2944,5123,5531,2542,0
4,2,1746,5637,5724,4269,2709,4777,6184,1524,4573,...,5326,7407,2478,4199,1749,6491,6359,7286,2083,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7968,5100,7185,2667,2840,3824,2155,2441,2165,2223,6716,...,4273,4614,3300,2519,5184,7576,1576,2590,834,0
7969,5101,6417,2291,3911,3996,1095,1984,1607,3738,6509,...,5271,5378,4819,6519,3914,7438,1405,2369,792,0
7970,5101,2870,3770,6431,153,5539,4391,4566,4196,1723,...,5247,4393,319,711,7157,949,2681,4420,703,0
7971,5101,6739,2264,3213,3689,1747,3129,1609,3964,6533,...,4901,4965,3713,3148,4559,7518,1407,2199,834,0
7972,5101,6027,2503,3955,4000,1428,2165,2157,2630,5948,...,7823,7823,7823,7823,7823,7823,7823,7823,3349,2

In [6]:
x1 = x[['V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28']]

In [7]:
y1 = x[['Amount']].values

In [8]:
x1

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V19,V20,V21,V22,V23,V24,V25,V26,V27,V28
0,1425,2439,7474,6397,2974,5756,4891,4674,3218,5368,...,5659,6393,5229,5987,2878,3792,4045,3099,5821,1896
1,6432,3656,1457,4363,4642,4158,3518,4545,1584,4279,...,3530,3005,2609,1703,6038,1963,4382,5027,3499,3600
2,1426,418,6291,4234,2330,7047,6776,5660,192,5739,...,69,7210,7096,7360,7674,1034,1151,3314,2105,1493
3,2158,2103,6343,1669,4352,6783,4880,6206,235,4797,...,552,1321,4196,4809,1832,373,7244,2944,5123,5531
4,1746,5637,5724,4269,2709,4777,6184,1524,4573,7038,...,6853,6977,5326,7407,2478,4199,1749,6491,6359,7286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7968,7185,2667,2840,3824,2155,2441,2165,2223,6716,2619,...,3264,3088,4273,4614,3300,2519,5184,7576,1576,2590
7969,6417,2291,3911,3996,1095,1984,1607,3738,6509,3600,...,3370,1912,5271,5378,4819,6519,3914,7438,1405,2369
7970,2870,3770,6431,153,5539,4391,4566,4196,1723,1913,...,2118,4013,5247,4393,319,711,7157,949,2681,4420
7971,6739,2264,3213,3689,1747,3129,1609,3964,6533,3580,...,4250,2291,4901,4965,3713,3148,4559,7518,1407,2199
7972,6027,2503,3955,4000,1428,2165,2157,2630,5948,3256,...,7823,7823,7823,7823,7823,7823,7823,7823,7823,7823

In [9]:
y1[0:5]

array([[2688],
       [ 123],
       [3142],
       [2542],
       [2083]])

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( x1, y1, test_size=0.1, random_state=0)
print ('Train set:', X_train.shape, Y_train.shape)
print ('Test set:', X_test.shape, Y_test.shape)

Train set: (7175, 28) (7175, 1)
Test set: (798, 28) (798, 1)

In [17]:
import time
from sklearn.metrics import accuracy_score,confusion_matrix,precision_score,f1_score,recall_score
from sklearn.naive_bayes import GaussianNB
#from sklearn.svm import SVC

#from sklearn.neigh
#model = SVC(kernel='rbf',gamma='auto')
model = GaussianNB()
model.fit(X_train,Y_train)
y_val_pred = model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [18]:
print("accuracy score :",(accuracy_score (y_val_pred, Y_test))*100,"%")

accuracy score : 13.659147869674184 %